#notification {
    position: absolute;
    top: -50px;

    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 6s ease;
}

#notification div {
    width: fit-content;
    background-color: #EA4242;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

#notification div p {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

#notification div p i {
    margin-right: 5px;
}

@keyframes fadeIn {
    0%, 100% {top: -50px;}
    10%, 90% {top:10px;}

}